
{{#each this}}
<li class="card__list-item">
    <img class="card__poster" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}} poster" id="{{id}}" loading="lazy">
    {{#if title}}
    <p class="card__name">{{title}}</p>
    {{else}}
    <p class="card__name">{{name}}</p>
    {{/if}}
        <p class="card__text">
        <span>{{genre_ids}}</span> | 
        {{#if release_date}}
        <span>{{release_date}}</span>
        {{else}}
        <span>{{first_air_date}}</span>
        {{/if}}
        <span class="card__vote_average">{{vote_average}}</span>
    </p>
</li>
{{/each}}